USE [master]
GO
/****** Object:  Database [BlogDizi]    Script Date: 2.08.2024 14:24:47 ******/
CREATE DATABASE [BlogDizi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogDizi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlogDizi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlogDizi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlogDizi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogDizi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogDizi]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [varchar](20) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLBLOG]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBLOG](
	[BLOGID] [int] IDENTITY(1,1) NOT NULL,
	[BLOGBASLIK] [nvarchar](100) NULL,
	[BLOGICERIK] [nvarchar](4000) NULL,
	[BLOGTARIH] [smalldatetime] NULL,
	[BLOGGORSEL] [varchar](100) NULL,
	[BLOGTUR] [tinyint] NULL,
	[BLOGKATEGORI] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BLOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMIZDA]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMIZDA](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLILETISIM]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILETISIM](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](50) NULL,
	[KONU] [varchar](50) NULL,
	[MESAJ] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[KATEGORIID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](20) NULL,
 CONSTRAINT [PK__TBLKATEG__CAD6B21CDE284484] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLTUR]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLTUR](
	[TURID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TURAD] [varchar](20) NULL,
 CONSTRAINT [PK__TBLTUR__63BC979BE5A67F9F] PRIMARY KEY CLUSTERED 
(
	[TURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYORUM]    Script Date: 2.08.2024 14:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYORUM](
	[YORUMID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICIADI] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[YORUMICERIK] [varchar](400) NULL,
	[YORUMBLOG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YORUMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLBLOG]  WITH CHECK ADD  CONSTRAINT [FK_TBLBLOG_TBLKATEGORI] FOREIGN KEY([BLOGKATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLBLOG] CHECK CONSTRAINT [FK_TBLBLOG_TBLKATEGORI]
GO
ALTER TABLE [dbo].[TBLBLOG]  WITH CHECK ADD  CONSTRAINT [FK_TBLBLOG_TBLTUR] FOREIGN KEY([BLOGTUR])
REFERENCES [dbo].[TBLTUR] ([TURID])
GO
ALTER TABLE [dbo].[TBLBLOG] CHECK CONSTRAINT [FK_TBLBLOG_TBLTUR]
GO
ALTER TABLE [dbo].[TBLYORUM]  WITH CHECK ADD  CONSTRAINT [FK_TBLYORUM_TBLBLOG] FOREIGN KEY([YORUMBLOG])
REFERENCES [dbo].[TBLBLOG] ([BLOGID])
GO
ALTER TABLE [dbo].[TBLYORUM] CHECK CONSTRAINT [FK_TBLYORUM_TBLBLOG]
GO
USE [master]
GO
